{
	"extends": "eslint:recommended",
	"env": {
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"rules": {
		"no-trailing-spaces": "error",
		"no-shadow": "error",
		"no-unused-expressions": "off",
		"no-unused-labels": "error",
		"no-unused-vars": "error",
		"eqeqeq": "error",
		"one-var": [
			"error",
			"never"
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1,
				"ObjectExpression": 1
			}
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"semi": [
			"error",
			"always"
		],
		"quotes": [
			"error",
			"single"
		]
	}
}
